<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui">
    <title>BlueOcean - Academia de Código</title>
    <link rel="stylesheet" href="./static/vendor/swiper/swiper.min.css">
    <link rel="stylesheet" href="./static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
</head>

<body>

<!-- Overlay panel -->
<div class="body-overlay"></div>
<!-- Left panel -->
<div id="panel-left"></div>
<!-- Right panel -->
<div id="panel-right"></div>

<div class="page page--main" data-page="tables">
    <header class="header header--page header--fixed">
        <div class="header__inner">
            <div class="header__icon header__icon--menu open-panel" data-panel="left"><span></span><span></span><span></span><span></span><span></span><span></span></div>
            <div class="header__logo header__logo--text"><a href="#">Blue<strong>Ocean</strong></a></div>
            <div class="header__icon open-panel" data-panel="right"><img
                    src="./static/assets/images/icons/white/search.svg" alt="" title=""/></div>
        </div>
    </header>
    <!-- PAGE CONTENT -->
    <div class="page__content page__content--with-header">
        <p class="welcome">
            This page is exclusively for moderating users and reporting. If you don't have permission, get the fuck out!
        </p>

        <h3>Types of reports</h3>
        <canvas id="ActivityChart" width="100%" height="60" class="mb-20"></canvas>

        <h3>New users</h3>
        <canvas id="SimpleChart" width="100%" height="60" class="mb-20"></canvas>

        <!-- USERS -->
        <h3>Latest users</h3>
        <div class="table table--5cols mb-20">
            <div class="table__inner">
                <div class="table__row">
                    <div class="table__section table__section--header table__section--nr">ID</div>
                    <div class="table__section table__section--header table__section--grow">Date</div>
                    <div class="table__section table__section--header table__section--grow">Name</div>
                    <div class="table__section table__section--header table__section--grow">E-mail</div>
                </div>
                <div class="table__row">
                    <div class="table__section table__section--nr">01</div>
                    <div class="table__section table__section--grow">26/12/20</div>
                    <div class="table__section table__section--grow">Potato</div>
                    <div class="table__section table__section--grow">potato@gmail.com</div>
                </div>
                <div class="table__row">
                    <div class="table__section table__section--nr">04</div>
                    <div class="table__section table__section--grow">01/01/20</div>
                    <div class="table__section table__section--grow">Carrot</div>
                    <div class="table__section table__section--grow">carrot@gmail.com</div>
                </div>
                <div class="table__row">
                    <div class="table__section table__section--nr">03</div>
                    <div class="table__section table__section--grow">02/02/20</div>
                    <div class="table__section table__section--grow">Onion</div>
                    <div class="table__section table__section--grow">onion@gmail.com</div>
                </div>
                <div class="table__row">
                    <div class="table__section table__section--nr">13</div>
                    <div class="table__section table__section--grow">02/02/20</div>
                    <div class="table__section table__section--grow">Tomato</div>
                    <div class="table__section table__section--grow">tomato@gmail.com</div>
                </div>
                <div class="table__row">
                    <div class="table__section table__section--nr">11</div>
                    <div class="table__section table__section--grow">02/02/20</div>
                    <div class="table__section table__section--grow">Olives</div>
                    <div class="table__section table__section--grow">olives@gmail.com</div>
                </div>
                <div class="table__row">
                    <div class="table__section table__section--nr">12</div>
                    <div class="table__section table__section--grow">02/02/20</div>
                    <div class="table__section table__section--grow">Pumpkin</div>
                    <div class="table__section table__section--grow">pumpkin@gmail.com</div>
                </div>
                <div class="table__row">
                    <div class="table__section table__section--nr">07</div>
                    <div class="table__section table__section--grow">02/02/20</div>
                    <div class="table__section table__section--grow">Cucumber</div>
                    <div class="table__section table__section--grow">cucumber@gmail.com</div>
                </div>
                <div class="table__row">
                    <div class="table__section table__section--nr">14</div>
                    <div class="table__section table__section--grow">02/02/20</div>
                    <div class="table__section table__section--grow">Eggplant</div>
                    <div class="table__section table__section--grow">eggplant@gmail.com</div>
                </div>
                <div class="table__row">
                    <div class="table__section table__section--nr">15</div>
                    <div class="table__section table__section--grow">02/02/20</div>
                    <div class="table__section table__section--grow">Pickles</div>
                    <div class="table__section table__section--grow">pickles@gmail.com</div>
                </div>
                <div class="table__row">
                    <div class="table__section table__section--nr">05</div>
                    <div class="table__section table__section--grow">02/02/20</div>
                    <div class="table__section table__section--grow">Broccoli</div>
                    <div class="table__section table__section--grow">broccoli@gmail.com</div>
                </div>
            </div>
            <button class="button--ex-small">See all</button>

        </div>

        <!-- REVIEW -->
        <h3>Latest flags</h3>
        <div class="table table--5cols mb-20">
            <div class="table__inner">
                <div class="table__row">
                    <div class="table__section table__section--header table__section--nr">ID</div>
                    <div class="table__section table__section--header table__section--grow">Date</div>
                    <div class="table__section table__section--header table__section--grow">Type</div>
                    <div class="table__section table__section--header">Status</div>
                </div>
                <div class="table__row">
                    <div class="table__section table__section--nr">01</div>
                    <div class="table__section table__section--grow">26/12/20</div>
                    <div class="table__section table__section--grow">Wasteland</div>
                    <div class="table__section">Approved</div>
                </div>
                <div class="table__row">
                    <div class="table__section table__section--nr">04</div>
                    <div class="table__section table__section--grow">01/01/20</div>
                    <div class="table__section table__section--grow">Trash</div>
                    <div class="table__section">Approved</div>
                </div>
                <div class="table__row">
                    <div class="table__section table__section--nr">03</div>
                    <div class="table__section table__section--grow">02/02/20</div>
                    <div class="table__section table__section--grow">Oil spill</div>
                    <div class="table__section">Disapproved</div>
                </div>
                <div class="table__row">
                    <div class="table__section table__section--nr">13</div>
                    <div class="table__section table__section--grow">02/02/20</div>
                    <div class="table__section table__section--grow">Oil spill</div>
                    <div class="table__section">Awaiting</div>
                </div>
                <div class="table__row">
                    <div class="table__section table__section--nr">11</div>
                    <div class="table__section table__section--grow">02/02/20</div>
                    <div class="table__section table__section--grow">Oil spill</div>
                    <div class="table__section">Disapproved</div>
                </div>
                <div class="table__row">
                    <div class="table__section table__section--nr">12</div>
                    <div class="table__section table__section--grow">02/02/20</div>
                    <div class="table__section table__section--grow">Oil spill</div>
                    <div class="table__section">Processing</div>
                </div>
                <div class="table__row">
                    <div class="table__section table__section--nr">02</div>
                    <div class="table__section table__section--grow">02/02/20</div>
                    <div class="table__section table__section--grow">Oil spill</div>
                    <div class="table__section">Processing</div>
                </div>
                <div class="table__row">
                    <div class="table__section table__section--nr">05</div>
                    <div class="table__section table__section--grow">02/02/20</div>
                    <div class="table__section table__section--grow">Oil spill</div>
                    <div class="table__section">Processing</div>
                </div>
                <div class="table__row">
                    <div class="table__section table__section--nr">06</div>
                    <div class="table__section table__section--grow">02/02/20</div>
                    <div class="table__section table__section--grow">Oil spill</div>
                    <div class="table__section">Processing</div>
                </div>
                <div class="table__row">
                    <div class="table__section table__section--nr">07</div>
                    <div class="table__section table__section--grow">02/02/20</div>
                    <div class="table__section table__section--grow">Oil spill</div>
                    <div class="table__section">Processing</div>
                </div>
            </div>
            <button class="button--ex-small">See all</button>

        </div>

    <!-- Social Icons Popup -->
    <div id="popup-social"></div>

    <!-- Alert -->
    <div id="popup-alert"></div>

    <!-- Notifications -->
    <div id="popup-notifications"></div>

    <script src="./static/vendor/jquery/jquery-3.5.1.min.js"></script>
    <script src="./static/vendor/jquery/jquery.validate.min.js"></script>
    <script src="./static/vendor/swiper/swiper.min.js"></script>
    <script src="./static/js/swiper-init.js"></script>
    <script src="./static/js/jquery.custom.js"></script>
        <script src="./vendor/charts/Chart.min.js"></script>
        <script src="./vendor/charts/chartjs-plugin-style.min.js"></script>
        <script src="./js/custom-charts.js"></script>
</div>
</body>
</html>
