<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui">
    <title>BlueOcean - Academia de Código</title>
    <link rel="stylesheet" href="/static/vendor/swiper/swiper.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/stylemap.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
</head>
<body>

<!-- Overlay panel -->
<div class="body-overlay"></div>
<!-- Left panel -->
<div id="panel-left"></div>
<!-- Right panel -->
<div id="panel-right"></div>


<div class="page page--main" data-page="tables">

    <header class="header header--page header--fixed">
        <div class="header__inner">
            <div class="header__icon header__icon--menu open-panel" data-panel="left">
                <span></span><span></span><span></span><span></span><span></span><span></span></a>
            </div>
            <div class="header__logo header__logo--text"><a href="#">Blue<strong>Ocean</strong></a></div>
            <div class="header__icon open-panel" data-panel="right"><img
                    src="/static/assets/images/icons/white/search.svg" alt="" title=""/></div>
        </div>
    </header>

    <!-- PAGE CONTENT -->
    <input id="customerId" type="hidden" th:value="*{customerId}"/>

    <div id="googlemap" class="googlemap"></div>
    <div id="form" hidden>
        <table>
            <tr>
                <td>Description:</td>
                <td><input type='text' id='description'/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type='button' value='Save' onclick="GoogleMap.saveLocation()"/></td>
            </tr>
        </table>
    </div>

    <div id="infowin" hidden>
        <div class="infowin">
            <div class="main_content">
                <div class="infowin_img">
                    <img src="https://media4.giphy.com/media/uUT8z7zC1Vs5AWy5y6/giphy.gif">
                </div>
                <div class="infowin_content">
                    <span>PLACE_DESCRIPTION</span><br>
                    <span>Added by : ADDED_BY</span>
                </div>
            </div>
        </div>
    </div>
    <script>
        var CommonUtil = (function () {
            return {
                getInputValue: function (id) {
                    return document.getElementById(id).value;
                },
                setInputValue: function (id, value) {
                    document.getElementById(id).value = value;
                }
            };
        })();
        var GoogleMap = (function () {
            var map, selectedmarker, markers = [], infowindow;
            var formcontent = document.getElementById("form").innerHTML,
                detailscontent = document.getElementById("infowin").innerHTML;

            return {
                initialize: function () {
                    map = new google.maps.Map(document.getElementById('googlemap'), {
                        center: new google.maps.LatLng(40.6359642, -8.6469576), //Setting Initial Position
                        zoom: 15,
                    });
                    map.addListener("click", function (event) {
                        GoogleMap.addLocation(event.latLng);
                    });

                    var xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4) {
                            var arr = JSON.parse(xhr.responseText);
                            if (Array.isArray(arr)) {

                                for (let i = 0; i < arr.length - 1; i++) {
                                    const json = '{"label":"1", "lat":' + arr[i].lat + ', "lng":' + arr[i].lng + '}';
                                    const obj = JSON.parse(json);

                                    GoogleMap.addLocation(obj);
                                }
                            }
                        }
                    }
                    xhr.open('GET', '/get-flag/list', true);
                    xhr.send();
                },
                addLocation: function (latlng) {
                    var marker = new google.maps.Marker({
                        position: latlng,
                        map: map,
                        label: markers.length + 1
                    });
                    marker.addListener("click", function () {
                        selectedmarker = this;
                        GoogleMap.showPlaceDetailsToUser(this);
                    });
                    GoogleMap.getPlaceDetailsFromUser(marker);
                    markers.push(selectedmarker);
                    selectedmarker = marker;
                },
                removeLocation: function () {
                    markers.splice(markers.indexOf(selectedmarker), 1);
                    if (selectedmarker) {
                        selectedmarker.setMap(null);
                    }
                },
                editLocation: function () {
                    GoogleMap.showPlaceDetailsToUser(selectedmarker, true);
                    CommonUtil.setInputValue("description", selectedmarker.placeInfo.description);
                },
                saveLocation: function () {
                    selectedmarker.placeInfo = selectedmarker.placeInfo || {};
                    selectedmarker.placeInfo.description = CommonUtil.getInputValue("description");
                    selectedmarker.placeInfo.addedBy = "teamSlack";
                    GoogleMap.showPlaceDetailsToUser(selectedmarker);

                    var obj = {
                        "lat": selectedmarker.getPosition().lat(),
                        "lng": selectedmarker.getPosition().lng(),
                        "customerId": parseInt(document.getElementById("customerId").value, 10)
                    };
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/add-flag", true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.send(JSON.stringify(obj));

                },
                getPlaceDetailsFromUser: function (marker) {
                    GoogleMap.showInfoWindow(formcontent, marker);
                },
                showPlaceDetailsToUser: function (marker, isedit) {
                    var content = marker.placeInfo && !isedit ? detailscontent.replace("PLACE_DESCRIPTION", marker.placeInfo.description || "NO_DESCRIPTION").replace("ADDED_BY", marker.placeInfo.addedBy) : formcontent;
                    GoogleMap.showInfoWindow(content, marker);
                },
                showInfoWindow: function (content, marker) {
                    if (infowindow) infowindow.close();

                    infowindow = new google.maps.InfoWindow({content: content});
                    infowindow.open(map, marker);
                }
            }
        })();
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7IalcR6AbyPBhMfDxKeq3r-mzNnTbpas&callback=GoogleMap.initialize"
            type="text/javascript"></script>

</div>


<!-- PAGE END -->

<!-- Social Icons Popup -->
<div id="popup-social"></div>

<!-- Alert -->
<div id="popup-alert"></div>

<!-- Notifications -->
<div id="popup-notifications"></div>

<script src="/static/vendor/jquery/jquery-3.5.1.min.js"></script>
<script src="/static/vendor/jquery/jquery.validate.min.js"></script>
<script src="/static/vendor/swiper/swiper.min.js"></script>
<script src="/static/js/swiper-init.js"></script>
<script src="/static/js/jquery.custom.js"></script>
</body>
</html>