.googlemap {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.main_content {
    display: inline-block;
    height: 100px;
}

.infowin {
    width: 250px;
    max-height: 200px;
    padding: 5px;
    background: #fab9b9;
    display: inline-block;
}

.infowin_img {
    float: left;
    margin: 0;
    width: 70px;
    height: 100%;
    background: #0db99e;
}

.infowin_img > img {
    height: 100%;
    width: 70px;
}

.infowin_content {
    float: left;
    margin: 0;
    background: #1e72d3;
    height: 100%;
    width: 180px;
    color: white;
    padding: 5px;
    overflow: scroll;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.btn_div {
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.button {
    padding: 3px;
    width: 100px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
}

.edit_btn {
    border: 1px solid #277107;
    background: #2e8608;
}

.edit_btn:hover {
    background: #206004;
}

.remove_btn {
    border: 1px solid #e54646;
    border-radius: 5px;
    background: #dd5f5f;
}

.remove_btn:hover {
    background: #e32424;
}